.vim/*-private.vim
.vim/bundle
.vim/experiment
.vim/.netrwhist
.vim/.netrwbook
.vim/rc/*-private.vim

.zsh/*.local.zsh

.vimperator/info/default/
.vimperator/info/default/macros
.vimperator/info/default/quickmarks
.vimperator/info/default/local-marks
