[alias]
    a  = add
    aa = add -A
    c =  checkout
    co = checkout
    cb = checkout -b
    st = status
    s  = status -s
    sm  = submodule status
    cv = commit -v
    cva = commit -v --amend
    ca = commit -a
    cm = commit -m
    cav = commit -av
    cava = commit -av --amend
    d = diff
    dl = difftool
    dc = diff --cached
    b = branch
    br = branch
    wc = whatchanged
    p  = push
    rv = remote -v
    stat  = log --stat --summary
    g   = grep
    ls  = ls-files
    l   = log --color --graph --pretty=format:'%cs %C(yellow)%<(20)%cr%Creset %<(48)%s %C(green)%d%Creset'
    lo  = log --graph --oneline --branches --tags --remotes
    lc  = log --graph --patch-with-stat
    lt  = log --graph --oneline --branches --tags --remotes --compact-summary
    lcr = log --graph --oneline --branches --tags --remotes -c
    lgt = log --graph --oneline --branches --tags --remotes --stat
    lgs = log --graph --oneline --branches --tags --remotes --summary
    lgn = log --graph --oneline --branches --tags --remotes --name-status

[include]
  path = .gitconfig.local
  path = .gitconfig.user

[core]
	pager = less -r
	excludesfile = ~/.gitignore_global
	editor = vim
[pager]
    grep = false

[diff]
  tool = vimdiff
[difftool]
  prompt = false

[color]
    ui = true
[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
