.vim/pack/bundle
.vim/experiment
.vim/.netrwhist
.vim/.netrwbook

.zsh/*.local.zsh
profile.d/*.local.sh

.vimperator/info/default/
.vimperator/info/default/macros
.vimperator/info/default/quickmarks
.vimperator/info/default/local-marks
