set bell-style none
set show-all-if-ambiguous on
set colored-stats on
set completion-ignore-case on
set mark-symlinked-directories on
set show-all-if-unmodified on
set visible-stats on

$if mysql
    "\C-xd": "show databases;"
    "\C-xt": "show tables;"
    "\C-xu": "select user,host,password from mysql.user order by user,host;"
    "\C-xb": "select user,host,db       from mysql.db   order by user,host;"
    "\C-xc": "show create table TN\\G"
$endif

